@font-face {
    font-family: Jost;
    src: url(Jost-Regular.ttf);
}
html{
    overflow:hidden
}
body{
    background-color:black;
    overflow: hidden;
}
.hero h2{
    color:white;
    font-family: Jost;
    font-size: 72px;
    position: fixed;
    top:50%;
    left:5%;
}
.spncla{
    color:#be1010e0;
    font-weight: 900;
}
.indbox{
    height:766px;
    width:400px;
    background-color:#be1010e0;
    position: relative;
    right:-79%;
    transform: rotate(50deg);
    overflow: hidden;   
}
.indbox1 {
    height: 760px;
    width: 400px;
    background-color: #be1010e0;
    position: fixed;
    /* right: -50%; */
    top: -50%;
    left: 39%;
    transform: rotate(320deg);
    overflow: hidden;
}
.start{
    color:white;
    position:fixed;
    top:77%;
    margin-left:14%;
    font-size: 24px;
    border:1mm solid white;
    border-spacing: 5px;
    padding:12px;
    border-radius: 25px;
    font-family: Jost;
    letter-spacing: .2cm;
    text-decoration: none;
}
.start:hover{
    border-color:#be1010e0;
    transition-duration: .5s;
}